*.DS_Store
*.asv
**/old/*
*.mat
*~
*.png
*.eps
**/dev/*
**/backup/*
*.txt
*.EQDSK
**/data/*
*__pycache__*
*.vscode
*.xml
*.l
*.slxc
*.gif
*#

# exceptions (specific files to track)

# nstxu data exceptions
!/tokamaks/nstxu/device/nstxu_obj_config.mat
!/tokamaks/nstxu/device/sysid_fits.mat
!/tokamaks/nstxu/data/eq204660_030.mat
!/tokamaks/nstxu/data/eqLIM.mat
!/tokamaks/nstxu/data/eqLSN.mat
!/tokamaks/nstxu/data/eqUSN.mat

# mastu data exceptions
!/tokamaks/mastu/device/mastu_obj_6565.mat
!/tokamaks/mastu/data/Ic48092.mat
!/tokamaks/mastu/data/psibry48092.mat




